*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: url("https://images.unsplash.com/photo-1506704888326-3b8834edb40a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
    no-repeat fixed;
  background-size: cover;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}

input {
  font: inherit;
}

.app-window {
  --br: 14px;

  max-width: 1300px;
  width: 100%;
  border-radius: var(--br);
  display: grid;
  grid-template-columns: 220px auto;
  position: relative;
  background: inherit;
  border: 1px solid rgba(0, 0, 0, 0.4);
  overflow: hidden;
  color: #fff;

  &::before {
    --offset: 50px;

    content: "";
    position: absolute;
    top: calc(-1 * var(--offset));
    left: calc(-1 * var(--offset));
    right: calc(-1 * var(--offset));
    bottom: calc(-1 * var(--offset));
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    filter: blur(var(--offset));
    background: inherit;
    border-radius: var(--br);
  }

  * > {
    position: relative;
  }
}

aside {
  --spacing-offset: 10px;

  border-top-left-radius: var(--br);
  border-bottom-left-radius: var(--br);
  padding: 20px 25px;

  .window-actions {
    margin: 10px 0 45px var(--spacing-offset);

    .window-action {
      --btn-size: 13px;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      width: var(--btn-size);
      height: var(--btn-size);
      padding: 0;
      margin-right: 1px;
      transition: 0.2s;
      transition-property: background-color, border-color;

      &--close {
        --btn-clr: #ff5d55;
      }

      &--min {
        --btn-clr: #ffc306;
      }

      &--max {
        --btn-clr: #14ca39;
      }

      &:hover {
        background-color: var(--btn-clr);
        border-color: var(--btn-clr);
      }
    }
  }

  .nav {
    margin-bottom: 45px;
    font-size: 14px;

    a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 8px var(--spacing-offset);
      border-radius: 4px;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    > h3 {
      padding-left: var(--spacing-offset);
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 15px;
    }

    > ul {
      li:not(:last-of-type) {
        margin-bottom: 3px;
      }

      .nav-item--selected > a {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    &.nav--main {
      font: {
        size: 18px;
        weight: 500;
      }
      letter-spacing: 0.64px;
    }

    &.nav--has-icons {
      --icon-size: 16px;

      > ul {
        li {
          a {
            display: flex;
            align-items: center;

            svg {
              margin-right: 25px;
              width: var(--icon-size);
              height: var(--icon-size);
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

main {
  border-top-right-radius: var(--br);
  border-bottom-right-radius: var(--br);
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px 30px 50px;
  max-height: 820px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &__search {
      flex: 1;
      margin-right: 50px;
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
      }

      input {
        background-color: transparent;
        width: 100%;
        font-size: 22px;
        font-weight: 500;
        padding: 4px 10px 4px 40px;
        color: #fff;
        border: none;

        &::placeholder {
          color: #fff;
        }

        &::-webkit-placeholder {
          color: #fff;
        }
      }
    }

    &__user {
      img {
        --size: 50px;

        width: var(--size);
        height: var(--size);
        border-radius: 50%;
      }
    }
  }

  .screen-title {
    font-size: 60px;
    font-weight: 700;
  }

  .artworks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 30px;
  }

  .artwork {
    border-radius: var(--br);
    overflow: hidden;
    position: relative;
    height: 350px;

    &__bg {
      height: 100%;
      width: 100%;
      background: var(--img) no-repeat center;
      background-size: cover;
    }

    &__details {
      position: absolute;
      overflow: hidden;
      transform: translateY(-30%);
      width: 100%;
      height: 100%;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: var(--img);
        background-size: cover;
        background-position: center;
        transform: translateY(-70%);
        filter: blur(20px);
        bottom: -20px;
        left: 0;
        right: 0;
      }

      &-inner {
        position: absolute;
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    &-artist {
      font-weight: 500;
      letter-spacing: 0.45px;
      margin-bottom: 4px;
    }

    &-song {
      font-weight: 300;
    }
  }
}

aside,
main {
  position: relative;
}

.player {
  --offset: 20px;
  position: absolute;
  bottom: var(--offset);
  left: var(--offset);
  right: var(--offset);
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: var(--br);
  padding: 16px;
  display: flex;
  justify-content: space-between;

  &__max {
    display: none;
  }

  &--docked {
    right: auto;

    .player__centre,
    .player__right {
      display: none;
    }

    .player__max {
      display: block;
    }

    .player__min {
      display: none;
    }
  }

  &__dock {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
  }

  &__left,
  &__centre,
  &__right {
    position: relative;
  }

  &__left,
  &__right {
    flex: 1;
  }

  &__centre {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 100px;

    .player-actions {
      margin: 12px 0 20px;

      svg {
        width: 18px;
        height: 18px;
        fill: #fff;
        margin: 0 10px;
      }
    }

    .player-progress {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 14px;
      }

      &-bar {
        margin: 0 20px;

        &-done {
          background-image: linear-gradient(90deg, #017bff, #03b0ff);
        }
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;

    .player__pic {
      width: 70px;
      height: 70px;
      border-radius: 6px;
      margin-right: 15px;
    }

    .now-playing {
      &--title,
      &--artist {
        display: block;
      }

      &--title {
        font-weight: 500;
        margin-bottom: 3px;
      }

      &--artist {
        font-size: 15px;
        font-weight: 300;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;

    svg {
      margin-right: 25px;
    }
  }

  .player-progress-bar {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 5px;
    border-radius: 15px;
    position: relative;

    &-done {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      transition: width 0.2s;
      border-radius: 15px;
    }
  }
}
